# Локальные конфигурации редакторов
.vscode/
.idea/

# Системные файлы
.DS_Store           # macOS
Thumbs.db           # Windows

# Лог-файлы
*.log

# Временные файлы, создаваемые операционной системой или редактором
*.swp
*.swo

# Прочие кэшированные файлы
.cache/

# Папки для сборки и кэшированные файлы (если вы используете систему сборки, например Gulp, Webpack)
node_modules/       # Для Node.js и менеджеров пакетов (если используются)
dist/               # Для собранных файлов, если используются сборщики
build/              # Для временных сборок или сгенерированных файлов

# Файлы, связанные с препроцессорами CSS (например, SASS/SCSS)
*.sass-cache/
